[submodule "nvim"]
    path = .config/nvim
	url = https://github.com/lvwvm/.config-nvim.git
[submodule "awesome"]
	path = .config/awesome
	url = https://gitea.com/luwum/.config-awesome.git
[submodule "chemacs"]
	path = .config/chemacs
	url = https://github.com/lvwvm/.config-chemacs.git
	branch = main
[submodule "systemd"]
	path = .config/systemd
	url = https://gitea.com/luwum/.config-systemd.git
[submodule "doom"]
	path = .config/doom
	url = https://gitea.com/luwum/.config-doom.git
[submodule "emacs"]
	path = .config/emacs
	url = https://github.com/lvwvm/.config-emacs.git
