[submodule "nvim"]
    path = .config/nvim
    url = git://gitlab.com/10b2/vim.git

[submodule "awesome"]
    path = .config/awesome
    url = git://gitlab.com/10b2/awesome.git
[submodule "chemacs"]
	path = .config/chemacs
	url = https://github.com/plexus/chemacs.git
