/*
!.gitignore
!.emacs
!.profile
!.zprofile
!.zshrc
!.zshenv
!.config
.config/*
!.config/emacs
!.config/zsh
.config/zsh/.zcompdump*
.config/zsh/oh-my-zsh
.config/zsh/plugins
!.config/awesome
!.config/rofi
!.config/alacritty
!.config/p3
!.config/emacs
*~
